In [77]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [78]:
ratings = pd.read_csv('/opt/ml/input/code/data/train_ratings.csv')
books = pd.read_csv('/opt/ml/input/code/data/books.csv')

In [79]:
ratings = ratings[['isbn', 'rating']]

         isbn  rating
0  0002005018       4
1  0002005018       7
2  0002005018       8
3  0002005018       8
4  0002005018       9

### 각 도서의 Rating 평균 구하기

In [80]:
ratings = ratings.groupby(ratings['isbn']).mean()

### ratings와 books를 merge하여 isbn에 대응하는 책 제목 추출

In [81]:
ratings_book = ratings.merge(books, how='left', on='isbn')

In [83]:
ratings_book = ratings_book[['isbn', 'book_title', 'rating']]

In [84]:
ratings_book

              isbn  rating                                         book_title
0       0000913154     8.0  The Way Things Work: An Illustrated Encycloped...
1       000104687X     6.0  T.S. Eliot Reading \The Wasteland\" and Other ...
2       0001047213     8.0                                   The Fighting Man
3       0001047973     9.0                                    Brave New World
4       000104799X     6.0                                        Monk's-hood
...            ...     ...                                                ...
129772  B0001FZGBC     7.0                             In Her Shoes : A Novel
129773  B0001FZGPI     6.0                          The Bonesetter's Daughter
129774  B0001FZGRQ     9.0                          The Clan of the Cave Bear
129775  B0001GMSV2     8.0                                            Find Me
129776  B000234N3A     9.0                                              Fraud

[129777 rows x 3 columns]